body {
  background: #0b3d2e;
  color: white;
  text-align: center;
  font-family: Arial;
}

h1 {
  color: #ff4d4d;
}

.gifts button {
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  background: gold;
  border: none;
  border-radius: 10px;
}

#message {
  margin-top: 20px;
  font-size: 20px;
}